<%- include partials/header.ejs %>

<%- include partials/mainNav.ejs %>

    <!--<h1>Welcome to <%= title %></h1>-->

    <main>
        <div>
          <h1><%= title %></h1>     
        </div>

        <style>
            h1{
              text-align: center;
              color: green;
              font-size: 75px;
            }
        </style>
    </main>

<%- include partials/footer.ejs %>
